@* @Html.Partial("_nav_secundario")*@


@section Scripts{
    @Html.Partial("_scripts_buscadorGeneral")
}
@section sectionHidden{
    @Html.Partial("_buscardorHidden")

}
<div class="row">
    <!-- col -->
    <div id="divAlertaCredito"></div>

    @*@Html.Partial("_filtros_buscador")*@

    <!-- fin col -->
    @*<div class="clear visible-md"></div>*@
    <!-- col -->
    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs no_pad_l-md col_PedidosBuscador_carrito">
        @Html.Partial("_contenedoresCarrito")
    </div>
    <!-- fin col -->
</div>

@Html.Partial("_divDetalleProducto")